<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">"
</head>
<body>
    <h1>Your Categories</h1>
    <table>
        <thead>
            <th>Your Current Categories Are:</th>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <td><%= category.name %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>