<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login Success</title>
    <link rel="stylesheet" href="/css/style.css">"
</head>
<body class="setup">
    <h1 class="banner">spent</h1>
    
    <h1>Welcome! Let's Select Your Spending Categories</h1>

    <a href="/categories/new">Select My Spending Categories</a>
</body>
</html>